body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  #login-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
  }
  
  .username-input,
  .password-input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    font-size: 16px;
  }
  
  .access-button {
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .access-button:hover {
    background-color: #3071a9;
  }
  
  .access-button:active {
    background-color: #255179;
  }
  
  .password-link {
    margin-top: 10px;
    color: #428bca;
    text-decoration: none;
  }
  
  .password-link:hover {
    text-decoration: underline;
  }
  
  .error-message {
    margin-top: 10px;
    color: red;
  }
  #main-screen {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .navigation-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navigation-buttons button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .navigation-buttons button:last-child {
    margin-bottom: 0;
  }
  
  .navigation-buttons button:hover {
    background-color: #3071a9;
  }
  
  .navigation-buttons button:active {
    background-color: #255179;
  }
  form {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  form button,
  form a {
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  form button:hover,
  form a:hover {
    background-color: #3071a9;
  }
  
  form button:active,
  form a:active {
    background-color: #255179;
  }  